doctype html
html
	head
		title 灑一點東西
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/TeaMeow/TocasUI@3.0.0-alpha.1/dist/tocas.css')
		link(rel='stylesheet', href='index.css')
		script(href='./negi.js')
		// open graph data #todo
		meta(property='og:title', content='灑一點東西')
		meta(property='og:description', content='看你要撒啥鬼')
		meta(property='og:type', content='website')
		meta(property='og:image', content='https://gnehs.github.io/Sealed/negi/og.jpg')
	body
		- let loadjs = js => `javascript:d=document;s=d.createElement('script');s.src='${js}';b=d.getElementsByTagName('body')[0];b.appendChild(s);void(0);`
		.ts.large.heading.center.aligned.slate
			span.header 灑滿蔥花
			span.description 點擊下面按鈕來灑滿蔥花
			.action
				.ts.primary.buttons
					a.ts.button(href=loadjs('https://gnehs.github.io/Sealed/negi/negi.js'))
						| 灑滿蔥花
					a.ts.button(href='http://www.hinablue.me/negi.html')
						| 原作者頁面
		.ts.large.heading.center.aligned.slate
			span.header 下雪
			span.description 點擊下面按鈕來下雪
			.action
				.ts.primary.buttons
					a.ts.button(href=loadjs('https://gnehs.github.io/Sealed/negi/snow.js'))
						| 下雪
					a.ts.button(href='https://codepen.io/epilande/pen/owAnm')
						| 原作者頁面
		.ts.large.heading.center.aligned.slate
			span.header 炸東西囉
			span.description 點擊下面按鈕來炸東西
			.action
				.ts.primary.buttons
					a.ts.button(href=loadjs('https://gnehs.github.io/Sealed/negi/frying.js'))
						| 炸東西
	